# This is the notebook we use to test our queries. For some queries, we need to get condition from frontend. So we make them as  functions. For others, we will just show the results.

In [1]:
# pymysql is the library in python to connect mysql. 
#In this notebook, I have already provide you with the username, password, host and database

import pymysql as pm
name  = 'cywdatabase.ccszxqpi5wa6.us-east-1.rds.amazonaws.com'
db = pm.connect(host = name,user = 'chenyunw',password = 'z1x2c3v4',db = 'cis550')
cursor = db.cursor()

schema for post/reg players:
['PLAYER_ID','PLAYER','TEAM','GP','MIN','FG_PCT','FG3_PCT','FT_PCT','REB','AST','STL','BLK','TOV','EFF','PTS','year']
where PLAYER_ID,TEAM,year are keys
schema for post/reg 
['TEAM_ID','TEAM_NAME','W','L','W_PCT','FG_PCT','FG3_PCT','FT_PCT','REB','AST','STL','BLK','TOV','PTS','year']
where TEAM_ID,TEAM_NAME,year are keys

schema for ratings:
Team,Player,Position,Overall ,Height,Weight,Tier,Program,Playstyle,Speed,Midrange,Finishing ,3Pt,Dribble,PostScoringt,Rebound ,Defense
schema for salary:
'Player','2018season','2019season','2020season','2021season'


The 6 tables are :
(('PostSeasonPlayer',),
 ('PostSeasonTeam',),
 ('Ratings',),
 ('RegSeasonPlayer',),
 ('RegSeasonTeam',),
 ('Salary',))

## Basic Queries:
in the following cells, we will write some basic queries. For example, we will present information of a certain player or team. W e will also try to add index to see whether it can be searched faster.

In [2]:
#This is the Basic Query for player. In practise, we will add more fields such as STL and BLK and FG_PCT.  
#But here, we just show how we do if some fields are missing.

def Player(name,PTS = None,AST = None, REB = None,year = None,Reg = True):
    pts = ''
    ast = ''
    reb = ''
    y = ''
    season = 'PostSeasonPlayer'
    if PTS != None:
        pts = ' and PTS = ' + str(PTS)
    if AST != None:
        ast = ' and AST = ' + str(AST)
    if REB !=None:
        reb = ' and REB = ' +str(AST)
    if year != None:
        y = ' and year = ' + str(year)
    if Reg:
        season = 'RegSeasonPlayer'
    name = "PLAYER = " +"'" +name+"'"
    
    query = 'SELECT PLAYER,PTS,AST,REB,year,TEAM FROM ' + season + ' WHERE ' +name + pts+ast+reb+y
    cursor.execute(query)
    return cursor.fetchall()

In [3]:
#Basic Query for team
def Team(TEAM,PTS = None,AST = None, REB = None,year = None,Reg = True):
    pts = ''
    ast = ''
    reb = ''
    y = ''
    season = 'PostSeasonTeam'
    if PTS != None:
        pts = ' and PTS = ' + str(PTS)
    if AST != None:
        ast = ' and AST = ' + str(AST)
    if REB !=None:
        reb = ' and REB = ' +str(AST)
    if year != None:
        y = ' and year = ' + str(year)
    if Reg:
        season = 'RegSeasonTeam'
    name = "TEAM_NAME = " +"'" +TEAM+"'"

    query = 'SELECT TEAM_NAME,PTS,AST,REB,year FROM ' + season + ' WHERE ' +name + pts+ast+reb+y
#     print(query)
    cursor.execute(query)
    result = cursor.fetchall()
    return result

In [4]:
# total average attributes through 21st century
team = 'Houston Rockets'
sql = "select TEAM_NAME,format(AVG(W),2) as avrage_win,format(AVG(L),2) as average_loss,format(SUM(W)/(SUM(W+L)),2) as average_WPCT \
,format(SUM((W+L)*FG_PCT)/SUM(W+L),2) AS average_FGPCT \
,format(SUM((W+L)*PTS)/SUM(W+L),2) as average_pts,format(SUM((W+L)*AST)/SUM(W+L),2) as average_ast \
,format(SUM((W+L)*REB)/SUM(W+L),2) as average_REB FROM RegSeasonTeam Where TEAM_NAME = '"+team+"' GROUP BY TEAM_NAME"
cursor.execute(sql)
cursor.fetchall()

(('Houston Rockets',
  '46.72',
  '34.39',
  '0.58',
  '0.45',
  '100.50',
  '21.17',
  '43.10'),)

In [5]:
#average fields of a player
#in the player person page, we will show the average data. Though some information are missing , such as PCT, we will use the same fucntion to
#calculate that
def average_pts(name):
    name_search = 'PLAYER = ' + "'"+name +"'"
    sql = 'SELECT PLAYER, SUM(GP*PTS)/SUM(GP) as average_pts, \
    SUM(GP*AST)/SUM(GP) as average_ast,SUM(GP*REB)/SUM(GP) as average_reb, \
    SUM(GP*STL)/SUM(GP) as average_stl, SUM(GP*BLK)/SUM(GP) as average_blk, \
    SUM(GP*FG_PCT)/SUM(GP) as average_pct,SUM(GP*FG3_PCT)/SUM(GP) as average_3pct \
    FROM RegSeasonPlayer WHERE '+name_search + 'GROUP BY PLAYER'
    cursor.execute(sql)
    return cursor.fetchall()

name = 'Kobe Bryant'
average_pts(name)

(('Kobe Bryant',
  27.46275264053418,
  5.083445621064584,
  5.549951897548643,
  1.5214629458968059,
  0.4367661285245499,
  0.44815880685499704,
  0.32778248411744),)

## Do we need index in this database? It seems since we will sometimes query on PTS, but let's look at how it performs with/without index

In [22]:
import timeit
sql = 'select PLAYER,PTS FROM RegSeasonPlayer where PTS = 22 LIMIT 5'
start_time = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
elapsed = timeit.default_timer() - start_time
elapsed
#while running for 1000times,we use 8.522s

4.485290254000574

In [24]:
cursor.execute('CREATE index index_PTS on RegSeasonPlayer(PTS)')

0

In [21]:
# cursor.execute('DROP index multi_index ON RegSeasonPlayer')

In [23]:
import timeit
sql = 'select PLAYER PTS FROM RegSeasonPlayer use index(index_PTS) where PTS =22  LIMIT 5'
start_time = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
elapsed = timeit.default_timer() - start_time
elapsed

#From the result , we find after adding index, running 1000 times improves by only 0.04s,which means it improves 0.00004 for each query
#we know index will improve our speed, but it seems it wont improve much for a small database.
#I also add sql to drop them, I keep them now but you can delete if you want.

# If we want to use index, we must assure that the data are unique. 
# If not, it will first run all index and select the required rows, and then do sequential scans. 
# So as you can see, it is sometimes even slower than we do only sequential scan.

4.676604975997179

# Advanced Queries

In [15]:
#Query 1:
#Who is the best postseason type player? 
#Which means he has a better performance in post season than in regular season by points, assists, and Reb.

def better_player(compare):
    sql1 = None
    if compare == 'PTS':
        sql1 = 'select rp.player,(pp.PTS/rp.PTS) as PTS_RATIO, rp.year,pp.PTS,rp.PTS \
        FROM RegSeasonPlayer rp join PostSeasonPlayer pp on rp.PLAYER_ID = pp.PLAYER_ID and pp.year = rp.year \
        WHERE rp.PTS > 20 \
        ORDER BY PTS_RATIO DESC LIMIT 10'
    elif compare == 'AST':
        sql1 = 'select rp.player,(pp.AST/rp.AST) as AST_RATIO, rp.year,pp.AST,rp.AST \
        FROM RegSeasonPlayer rp join PostSeasonPlayer pp on rp.PLAYER_ID = pp.PLAYER_ID and pp.year = rp.year \
        WHERE rp.AST > 8 \
        ORDER BY AST_RATIO DESC LIMIT 10'
    elif compare == 'REB':
        sql1 = 'select rp.player,(pp.REB/rp.REB) as REB_RATIO, rp.year,pp.REB,rp.REB \
        FROM RegSeasonPlayer rp join PostSeasonPlayer pp on rp.PLAYER_ID = pp.PLAYER_ID and pp.year = rp.year \
        WHERE rp.REB > 8 \
        ORDER BY REB_RATIO DESC LIMIT 10'
    return sql1

compare = 'AST'
sql1 = better_player(compare)
sql1
if sql1 != None:
    cursor.execute(sql1)
    result = cursor.fetchall()
result

(('Rajon Rondo', 1.4878048893952927, 2017, 12.2, 8.2),
 ('Jason Kidd', 1.3571428501918783, 2000, 13.3, 9.8),
 ('John Stockton', 1.3103448124665187, 2000, 11.4, 8.7),
 ('John Stockton', 1.2195122234882314, 2001, 10.0, 8.2),
 ('Rajon Rondo', 1.1951220022788165, 2008, 9.8, 8.2),
 ('Jason Kidd', 1.1847825917945238, 2006, 10.9, 9.2),
 ('Chris Paul', 1.1734693649161716, 2010, 11.5, 9.8),
 ('Steve Nash', 1.1465517028758705, 2006, 13.3, 11.6),
 ('Jason Kidd', 1.142857240170853, 2005, 9.6, 8.4),
 ('Chris Paul', 1.076086937367127, 2016, 9.9, 9.2))

In [ ]:
#Query2

# as  PTS will appear in most where query,we set PTS as index
# sql_index_PTS = 'create index index_PTS on RegSeasonPlayer(PTS)'
# # as 2018season salary may appear in most where querys, we set it as index
# sql_index_salary = 'create index index_salary on Salary(2018season)'
# # after set index,we just comment these sql
# cursor.execute(sql_index_PTS)
# cursor.execute(sql_index_salary)
cursor.execute('show keys from RegSeasonPlayer')
cursor.fetchall()

In [17]:
# Query2
# Among those top players, whose contract has best priceâ€“performance ratio? Whose has the worst?
# To make it simple, we assume he must get at least 20 points, and his salary/pts is very high.

sql2 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio from RegSeasonPlayer rp join Salary s on rp.PLAYER = s.Player where rp.PTS > 20 and rp.year = 2017 ORDER BY salary_Pts_Ratio LIMIT 10'
cursor.execute(sql2)
cursor.fetchall()
#There is no surprise Mitchell has the best salary-pts ratio since he's still in rookie contract,but among those have big contract, who has the worst?
# it can also be described as, whose contract is worth for the team.

(('Donovan Mitchell', 151779.51219512196),
 ('Karl-Anthony Towns', 368048.6047323381),
 ('Kemba Walker', 542986.415966838),
 ('Khris Middleton', 646766.156879517),
 ('Kyrie Irving', 823737.2669766734),
 ('Jimmy Butler', 893766.9512662131),
 ('Giannis Antetokounmpo', 898041.053627341),
 ('Anthony Davis', 905133.9023031608),
 ('Victor Oladipo', 909090.8940783266),
 ('LaMarcus Aldridge', 967403.2307777037))

In [12]:
# Query 3
# under contract, whose contract is least worth? Here we query by points only, but we can also query AST and REB either.
# The condition is that he must have a high contract. Those with vet contract will make this query a bit strange.
sql3 = 'Select rp.PLAYER, s.2018season/rp.PTS as salary_Pts_Ratio from RegSeasonPlayer rp \
join Salary s on rp.PLAYER = s.Player where s.2018season>20000000 and rp.year = 2017 ORDER BY salary_Pts_Ratio desc LIMIT 10'
cursor.execute(sql3)
cursor.fetchall()


# surprise? But remember we only take points into consideration. And Paul contribute assist most!
# And you will find why Rockets wants to trade Anderson -- low contribution! But their addition Anthony is not much better...

(('Al Horford', 2242535.725229418),
 ('Ryan Anderson', 2195865.11625505),
 ('Nicolas Batum', 2068965.4492027857),
 ('Chris Paul', 1916889.745632505),
 ('Kyle Lowry', 1913580.1567934693),
 ('DeAndre Jordan', 1908100.0),
 ('Steven Adams', 1737935.5872640153),
 ('Carmelo Anthony', 1723959.1780693536),
 ('Serge Ibaka', 1719576.6939709166),
 ('Andre Drummond', 1695617.4666666666))

## Whether relation algebra works in this database? In the following queries, the first one is just cross product and in the second one ,we select first. But the speed is almost the same.

In [7]:
import timeit
start_time = timeit.default_timer()
sql3 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio from RegSeasonPlayer rp,Salary s where rp.PLAYER = s.Player and s.2018season>20000000 and rp.year = 2017 ORDER BY salary_Pts_Ratio desc LIMIT 10'
    
for i in range(1000):
#     sql3 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio from RegSeasonPlayer rp,Salary s where rp.PLAYER = s.Player and s.2018season>20000000 and rp.year = 2017 ORDER BY salary_Pts_Ratio desc LIMIT 10'
    cursor.execute(sql3)

end_time = timeit.default_timer()
elapsed = timeit.default_timer() - start_time
elapsed

10.526720840000053

In [8]:
import timeit
start_time = timeit.default_timer()
sql3 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio \
    from (select PLAYER,PTS FROM RegSeasonPlayer \
    where year = 2017) rp join \
    (select 2018season,Player \
    from Salary where 2018season>20000000) s on rp.PLAYER = s.Player ORDER BY salary_Pts_Ratio desc LIMIT 10'
for i in range(1000):
#     sql3 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio \
#     from (select PLAYER,PTS FROM RegSeasonPlayer \
#     where year = 2017) rp join \
#     (select 2018season,Player \
#     from Salary where 2018season>20000000) s on rp.PLAYER = s.Player ORDER BY salary_Pts_Ratio desc LIMIT 10'
    cursor.execute(sql3)

end_time = timeit.default_timer()
elapsed = timeit.default_timer() - start_time
elapsed

10.331628947000354

In [ ]:
start_time = timeit.default_timer()
sql3 = 'Select rp.PLAYER, (s.2018season/rp.PTS) as salary_Pts_Ratio \
    from (select PLAYER,PTS FROM RegSeasonPlayer use index(index_PTS) \
    where year = 2017) rp join \
    (select 2018season,Player \
    from Salary use index(salary) where 2018season>20000000) s on rp.PLAYER = s.Player ORDER BY salary_Pts_Ratio desc LIMIT 10'

for i in range(1000):
    cursor.execute(sql3)

end_time = timeit.default_timer()
elapsed = timeit.default_timer() - start_time
elapsed

In [19]:
# Query 4
#Top Players in 2019 market?
sql4 = 'select rp.PLAYER,rp.PTS,rp.year from RegSeasonPlayer rp join Salary s on rp.PLAYER = s.Player where rp.year = 2017 and s.2019season = 0 ORDER BY rp.PTS desc LIMIT 10'
cursor.execute(sql4)
cursor.fetchall()

(('Kemba Walker', 22.1, 2017),
 ('Klay Thompson', 20.0, 2017),
 ('Tobias Harris', 18.6, 2017),
 ('Eric Bledsoe', 17.7, 2017),
 ('JJ Redick', 17.1, 2017),
 ('Carmelo Anthony', 16.2, 2017),
 ('Austin Rivers', 15.1, 2017),
 ('Rodney Hood', 14.7, 2017),
 ('Zach Randolph', 14.5, 2017),
 ('Bojan Bogdanovic', 14.3, 2017))

# in the following cells, we will query whether player with highest score will help his team win championship. To simplisify it, we create a temporary table in mysql

In [20]:
sql_temp_table1 = 'CREATE TEMPORARY TABLE IF NOT EXISTS temp_reg select rp.year, max(rp.PTS) as top_points from RegSeasonPlayer rp GROUP BY rp.year'
sql_temp_table2 = 'CREATE TEMPORARY TABLE IF NOT EXISTS temp_post select pp.year, max(pp.PTS) as top_points from PostSeasonPlayer pp GROUP BY pp.year'
#in the two following tables, we create the highest score in one season. And we will use that temporary table to do further queries.
cursor.execute(sql_temp_table1)
cursor.execute(sql_temp_table2)

18

In [21]:
cursor.execute('select * from temp_post')
cursor.fetchall()

((2005, 34.0),
 (2001, 30.8),
 (2002, 32.1),
 (2000, 33.8),
 (2004, 31.2),
 (2003, 26.6),
 (2006, 32.8),
 (2007, 30.1),
 (2009, 33.2),
 (2008, 35.3),
 (2010, 28.6),
 (2011, 30.3),
 (2012, 30.8),
 (2013, 29.6),
 (2014, 31.5),
 (2015, 28.4),
 (2016, 37.4),
 (2017, 34.0))

In [22]:
#uery 5
sql5 = 'select rp.year,rp.PLAYER,pt.TEAM_NAME \
from (RegSeasonPlayer rp join temp_reg on rp.year = temp_reg.year and rp.PTS = temp_reg.top_points) \
join PostSeasonTeam pt on pt.TEAM_NAME = rp.TEAM where pt.W = 16 and rp.year = pt.year'
cursor.execute(sql5)
cursor.fetchall()
#surprisingly, those with highest point in regseason don't win the championship that year!

()

In [23]:
#Query 6
sql6 = 'select pp.year,pp.PLAYER,pt.TEAM_NAME \
from (PostSeasonPlayer pp join temp_post on pp.year = temp_post.year and pp.PTS = temp_post.top_points) \
join PostSeasonTeam pt on pt.TEAM_NAME = pp.TEAM where pt.W = 16 and pt.year = pp.year'
cursor.execute(sql6)
cursor.fetchall()

#only James win both title and highest points in postseason

((2011, 'LeBron James', 'Miami Heat'),)

In [24]:
#Query 7
# best shooting group in Reg for each season

sql7 = 'SELECT p1.year,p1.PLAYER,p1.FG3_PCT,p1.TEAM \
FROM RegSeasonPlayer p1 join \
(SELECT t1.year,t1.TEAM_NAME FROM RegSeasonTeam t1 \
WHERE (t1.FG3_PCT,t1.year) in (SELECT MAX(t2.FG3_PCT),t2.year FROM RegSeasonTeam t2 GROUP BY t2.year)) t \
on t.year = p1.year and p1.TEAM = t.TEAM_NAME \
WHERE 3>\
(SELECT COUNT(DISTINCT p2.PLAYER) \
FROM RegSeasonPlayer p2 \
WHERE p2.FG3_PCT > p1.FG3_PCT AND p1.TEAM = p2.TEAM AND p1.year = p2.year)\
ORDER BY p1.year DESC,p1.FG3_PCT DESC \
'
cursor.execute(sql7)
cursor.fetchall()

((2017, 'Klay Thompson', 0.44, 'Golden State Warriors'),
 (2017, 'Kevin Durant', 0.419, 'Golden State Warriors'),
 (2017, 'Nick Young', 0.377, 'Golden State Warriors'),
 (2016, 'Pau Gasol', 0.538, 'San Antonio Spurs'),
 (2016, 'Patty Mills', 0.414, 'San Antonio Spurs'),
 (2016, 'LaMarcus Aldridge', 0.411, 'San Antonio Spurs'),
 (2015, 'Andrew Bogut', 1.0, 'Golden State Warriors'),
 (2015, 'Stephen Curry', 0.454, 'Golden State Warriors'),
 (2015, 'Klay Thompson', 0.425, 'Golden State Warriors'),
 (2014, 'Stephen Curry', 0.443, 'Golden State Warriors'),
 (2014, 'Klay Thompson', 0.439, 'Golden State Warriors'),
 (2014, 'Harrison Barnes', 0.405, 'Golden State Warriors'),
 (2013, 'Marco Belinelli', 0.43, 'San Antonio Spurs'),
 (2013, 'Matt Bonner', 0.429, 'San Antonio Spurs'),
 (2013, 'Patty Mills', 0.425, 'San Antonio Spurs'),
 (2012, 'Stephen Curry', 0.453, 'Golden State Warriors'),
 (2012, 'Jarrett Jack', 0.404, 'Golden State Warriors'),
 (2012, 'Klay Thompson', 0.401, 'Golden State Warriors'),
 (2011, 'Danny Green', 0.436, 'San Antonio Spurs'),
 (2011, 'Matt Bonner', 0.42, 'San Antonio Spurs'),
 (2011, 'Kawhi Leonard', 0.376, 'San Antonio Spurs'),
 (2010, 'Richard Jefferson', 0.44, 'San Antonio Spurs'),
 (2010, 'Gary Neal', 0.419, 'San Antonio Spurs'),
 (2010, 'George Hill', 0.377, 'San Antonio Spurs'),
 (2009, 'Jared Dudley', 0.458, 'Phoenix Suns'),
 (2009, 'Channing Frye', 0.439, 'Phoenix Suns'),
 (2009, 'Grant Hill', 0.438, 'Phoenix Suns'),
 (2008, 'Eddie House', 0.444, 'Boston Celtics'),
 (2008, 'Ray Allen', 0.409, 'Boston Celtics'),
 (2008, 'Glen Davis', 0.4, 'Boston Celtics'),
 (2007, 'Steve Nash', 0.47, 'Phoenix Suns'),
 (2007, 'Raja Bell', 0.401, 'Phoenix Suns'),
 (2007, 'Leandro Barbosa', 0.389, 'Phoenix Suns'),
 (2006, 'Steve Nash', 0.455, 'Phoenix Suns'),
 (2006, 'Leandro Barbosa', 0.434, 'Phoenix Suns'),
 (2006, 'Raja Bell', 0.413, 'Phoenix Suns'),
 (2005, 'Raja Bell', 0.442, 'Phoenix Suns'),
 (2005, 'Steve Nash', 0.439, 'Phoenix Suns'),
 (2005, 'Eddie House', 0.389, 'Phoenix Suns'),
 (2004, 'Joe Johnson', 0.478, 'Phoenix Suns'),
 (2004, 'Steve Nash', 0.431, 'Phoenix Suns'),
 (2004, 'Quentin Richardson', 0.358, 'Phoenix Suns'),
 (2003, 'Anthony Peeler', 0.482, 'Sacramento Kings'),
 (2003, 'Peja Stojakovic', 0.433, 'Sacramento Kings'),
 (2003, 'Mike Bibby', 0.392, 'Sacramento Kings'),
 (2002, 'Kurt Thomas', 0.667, 'New York Knicks'),
 (2002, 'Michael Redd', 0.438, 'Milwaukee Bucks'),
 (2002, 'Allan Houston', 0.396, 'New York Knicks'),
 (2002, 'Howard Eisley', 0.389, 'New York Knicks'),
 (2002, 'Tim Thomas', 0.366, 'Milwaukee Bucks'),
 (2002, 'Sam Cassell', 0.362, 'Milwaukee Bucks'),
 (2001, 'Tyronn Lue', 0.447, 'Washington Wizards'),
 (2001, 'Chris Whitney', 0.406, 'Washington Wizards'),
 (2001, 'Popeye Jones', 0.364, 'Washington Wizards'),
 (2000, 'Danny Ferry', 0.449, 'San Antonio Spurs'),
 (2000, 'Terry Porter', 0.424, 'San Antonio Spurs'),
 (2000, 'Antonio Daniels', 0.404, 'San Antonio Spurs'))

In [25]:
# Query 8
# best shooting group in Post
cursor.execute('SELECT p1.year,p1.PLAYER,p1.FG3_PCT,p1.TEAM \
FROM PostSeasonPlayer p1 join \
(SELECT t1.year,t1.TEAM_NAME FROM PostSeasonTeam t1 \
WHERE (t1.FG3_PCT,t1.year) in (SELECT MAX(t2.FG3_PCT),t2.year FROM PostSeasonTeam t2 GROUP BY t2.year)) t \
on t.year = p1.year and p1.TEAM = t.TEAM_NAME \
WHERE 3>\
(SELECT COUNT(DISTINCT p2.PLAYER) \
FROM PostSeasonPlayer p2 \
WHERE p2.FG3_PCT > p1.FG3_PCT AND p1.TEAM = p2.TEAM AND p1.year = p2.year)\
ORDER BY p1.year DESC,p1.FG3_PCT DESC \
')
cursor.fetchall()

((2017, 'Derrick Rose', 0.7, 'Minnesota Timberwolves'),
 (2017, 'Nemanja Bjelica', 0.571, 'Minnesota Timberwolves'),
 (2017, 'Jimmy Butler', 0.471, 'Minnesota Timberwolves'),
 (2016, 'JR Smith', 0.5, 'Cleveland Cavaliers'),
 (2016, 'Kevin Love', 0.45, 'Cleveland Cavaliers'),
 (2016, 'LeBron James', 0.411, 'Cleveland Cavaliers'),
 (2015, 'LaMarcus Aldridge', 1.0, 'San Antonio Spurs'),
 (2015, 'David West', 0.5, 'San Antonio Spurs'),
 (2015, 'Danny Green', 0.5, 'San Antonio Spurs'),
 (2014, 'Paul Pierce', 0.524, 'Washington Wizards'),
 (2014, 'Drew Gooden', 0.462, 'Washington Wizards'),
 (2014, 'Ramon Sessions', 0.4, 'Washington Wizards'),
 (2013, 'Danny Green', 0.475, 'San Antonio Spurs'),
 (2013, 'Marco Belinelli', 0.421, 'San Antonio Spurs'),
 (2013, 'Kawhi Leonard', 0.419, 'San Antonio Spurs'),
 (2012, 'Klay Thompson', 0.424, 'Golden State Warriors'),
 (2012, 'Stephen Curry', 0.396, 'Golden State Warriors'),
 (2012, 'Draymond Green', 0.391, 'Golden State Warriors'),
 (2011, 'Stephen Jackson', 0.605, 'San Antonio Spurs'),
 (2011, 'Boris Diaw', 0.5, 'San Antonio Spurs'),
 (2011, 'Kawhi Leonard', 0.45, 'San Antonio Spurs'),
 (2010, 'Ray Allen', 0.571, 'Boston Celtics'),
 (2010, 'Paul Pierce', 0.447, 'Boston Celtics'),
 (2010, 'Jeff Green', 0.438, 'Boston Celtics'),
 (2009, 'Jason Richardson', 0.475, 'Phoenix Suns'),
 (2009, 'Jared Dudley', 0.424, 'Phoenix Suns'),
 (2009, 'Steve Nash', 0.38, 'Phoenix Suns'),
 (2008, 'Nicolas Batum', 0.5, 'Portland Trail Blazers'),
 (2008, 'Brandon Roy', 0.471, 'Portland Trail Blazers'),
 (2008, 'Rudy Fernandez', 0.421, 'Portland Trail Blazers'),
 (2007, 'Peja Stojakovic', 0.549, 'New Orleans Hornets'),
 (2007, 'David West', 0.5, 'New Orleans Hornets'),
 (2007, 'Morris Peterson', 0.471, 'New Orleans Hornets'),
 (2006, 'Bruce Bowen', 0.446, 'San Antonio Spurs'),
 (2006, 'Michael Finley', 0.419, 'San Antonio Spurs'),
 (2006, 'Manu Ginobili', 0.384, 'San Antonio Spurs'),
 (2005, 'Michael Redd', 0.467, 'Milwaukee Bucks'),
 (2005, 'Charlie Bell', 0.455, 'Milwaukee Bucks'),
 (2005, 'Bobby Simmons', 0.417, 'Milwaukee Bucks'),
 (2004, 'Jim Jackson', 0.516, 'Phoenix Suns'),
 (2004, 'Shawn Marion', 0.419, 'Phoenix Suns'),
 (2004, 'Quentin Richardson', 0.39, 'Phoenix Suns'),
 (2003, 'Trenton Hassell', 0.5, 'Minnesota Timberwolves'),
 (2003, 'Fred Hoiberg', 0.458, 'Minnesota Timberwolves'),
 (2003, 'Sam Cassell', 0.417, 'Minnesota Timberwolves'),
 (2002, 'Steve Nash', 0.487, 'Dallas Mavericks'),
 (2002, 'Dirk Nowitzki', 0.443, 'Dallas Mavericks'),
 (2002, 'Michael Finley', 0.412, 'Dallas Mavericks'),
 (2001, 'Kevin Ollie', 0.5, 'Indiana Pacers'),
 (2001, 'Jeff Foster', 0.5, 'Indiana Pacers'),
 (2001, 'Metta World Peace', 0.462, 'Indiana Pacers'),
 (2000, 'Chris Childs', 0.417, 'Toronto Raptors'),
 (2000, 'Vince Carter', 0.41, 'Toronto Raptors'),
 (2000, 'Dell Curry', 0.378, 'Toronto Raptors'))

In [16]:
#Query 9
# who's the team hero?That is to say, the ratio of his points/team-points is very high. He contributes most to his team.

sql8 = 'select p.PLAYER,t.TEAM_NAME,format(sum(p.GP*p.PTS),2) AS PLAYER_PT,format(sum((t.W+t.L)*t.PTS),2) AS TEAM_PT,format((sum(p.GP*p.PTS)/sum((t.W+t.L)*t.PTS)),2) AS CONT \
FROM RegSeasonPlayer p join RegSeasonTeam t on p.year = t.year and p.TEAM = t.TEAM_NAME \
GROUP BY p.PLAYER, t.TEAM_NAME \
ORDER BY CONT DESC \
LIMIT 10'
cursor.execute(sql8)
cursor.fetchall()

(('Allen Iverson', 'Philadelphia 76ers', '11,033.80', '39,442.00', '0.28'),
 ('Kevin Durant', 'Oklahoma City Thunder', '15,247.50', '58,087.40', '0.26'),
 ('Tracy McGrady', 'Orlando Magic', '8,292.70', '32,021.00', '0.26'),
 ('Jerry Stackhouse', 'Detroit Pistons', '4,010.40', '15,571.80', '0.26'),
 ('Gilbert Arenas', 'Washington Wizards', '6,485.60', '25,133.00', '0.26'),
 ('Kobe Bryant', 'Los Angeles Lakers', '28,533.80', '114,670.00', '0.25'),
 ('LeBron James', 'Miami Heat', '7,913.00', '31,691.40', '0.25'),
 ('LeBron James', 'Cleveland Cavaliers', '23,121.80', '91,118.40', '0.25'),
 ('James Harden', 'Houston Rockets', '13,017.70', '53,447.60', '0.24'),
 ('Vince Carter', 'New Jersey Nets', '9,147.50', '39,089.40', '0.23'))

In [17]:
#Query 10
#under rated 3pt shooter

sql = 'SELECT rp.PLAYER , rp.FG3_PCT,r.3Pt,format((rp.FG3_PCT/r.3Pt)*100,2) as ratio \
FROM RegSeasonPlayer rp join Ratings r on rp.PLAYER = r.Player \
WHERE rp.year = 2017 and r.3Pt > 75 \
ORDER BY ratio DESC LIMIT 20'
cursor.execute(sql)
cursor.fetchall()

(('Darren Collison', 0.468, 76.0, '0.62'),
 ('Otto Porter Jr.', 0.441, 80.0, '0.55'),
 ('Marvin Williams', 0.413, 76.0, '0.54'),
 ('Joe Ingles', 0.44, 82.0, '0.54'),
 ('Jonas Jerebko', 0.414, 77.0, '0.54'),
 ('Luke Kennard', 0.415, 77.0, '0.54'),
 ('Buddy Hield', 0.431, 81.0, '0.53'),
 ('George Hill', 0.415, 78.0, '0.53'),
 ('Kevin Love', 0.415, 80.0, '0.52'),
 ('Dirk Nowitzki', 0.409, 79.0, '0.52'),
 ('Courtney Lee', 0.406, 78.0, '0.52'),
 ('Kyrie Irving', 0.408, 79.0, '0.52'),
 ('Doug McDermott', 0.426, 82.0, '0.52'),
 ('Kevin Durant', 0.419, 81.0, '0.52'),
 ('Garrett Temple', 0.392, 76.0, '0.52'),
 ('Bojan Bogdanovic', 0.402, 78.0, '0.52'),
 ("E'Twaun Moore", 0.425, 84.0, '0.51'),
 ('Tony Snell', 0.403, 79.0, '0.51'),
 ('Paul George', 0.401, 79.0, '0.51'),
 ('Kyle Lowry', 0.399, 78.0, '0.51'))

In [29]:
#Query 11
#common teammates of two certain player

def common_teammates(P1,P2):
    sql = "SELECT T1.Player  \
    FROM (select DISTINCT P1.PLAYER \
    FROM RegSeasonPlayer P1  join RegSeasonPlayer P2  ON P1.year = P2.year and P1.TEAM =P2.TEAM \
    WHERE P2.PLAYER = " + "'" + P1 + "'" + "  AND P1.PLAYER != "+ "'" + P1 + "') T1" +" join (SELECT DISTINCT P3.PLAYER \
    FROM RegSeasonPlayer P3  join RegSeasonPlayer P4  ON P3.year = P4.year and P3.TEAM = P4.TEAM  \
     WHERE P4.PLAYER = " + "'" + P2 +"'"+" AND P3.PLAYER != "+ "'"+P2+ "') T2 on T1.PLAYER = T2.PLAYER"
#     print(sql)
    cursor.execute(sql)
    return cursor.fetchall()
common_teammates('Lebron James','Chris Paul')

(('Jeff Green',),)

In [22]:
# a final query we create for our fantasy game. We will get name from frontend, and get information from backend. And if possible, we will store
# information into users mongodb database. 
name = 'James Harden'
sql = "SELECT s.2018season, r.Player,r.Speed,r.Midrange,r.Finishing,r.3Pt,r.Dribble,r.PostScoring,r.Rebound,r.Defense \
FROM Ratings r join Salary s on r.Player = s.Player where s.Player = " +"'"+ name +"'" 
cursor.execute(sql)
cursor.fetchall()

((30570000, 'James Harden', 82.0, 85.0, 90.0, 77.0, 85.0, 66.0, 76.0, 72.0),)

In [40]:
sql = 'select T.year,P.PTS from RegSeasonPlayer P use index(index_PTS) join RegSeasonTeam T use index(index_year) on P.TEAM = T.TEAM_NAME  where P.PTS > 22 and T.year =  2017'
start = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
timeit.default_timer() - start

6.695334531003027

In [48]:
sql = 'select T.year,P.PTS from RegSeasonPlayer P join RegSeasonTeam T on P.TEAM = T.TEAM_NAME where P.PTS > 22 and T.year =  2017'
start = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
timeit.default_timer() - start

7.009170594996249

In [42]:
sql = 'select T.year,P.PTS from RegSeasonPlayer P use index(index_PTS) join RegSeasonTeam T use index(index_year)   where P.PTS > 22 and T.year =  2017'
start = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
timeit.default_timer() - start

51.80034005900234

In [49]:
sql = 'select T.year,P.PTS from (select PTS,TEAM from RegSeasonPlayer use index(index_PTS) where PTS > 22) P \
join (select year,TEAM_NAME from RegSeasonTeam use index(index_year) where year = 2017) T ON TEAM = TEAM_NAME'
start = timeit.default_timer()
for i in range(500):
    cursor.execute(sql)
timeit.default_timer() - start

6.695896056997299

In [21]:
team = 'Houston Rockets'

sql = "select T.TEAM_NAME,P.PLAYER, count(P.year) as time,format(sum(P.PTS*P.GP),0) as total_pts, format(sum(P.AST*P.GP),0) AS total_ast, \
format(sum(P.REB*P.GP),0) AS total_reb, format(avg(P.FG_PCT),2) as avg_pct,format(sum(P.PTS*P.GP) /T2.team_pts,3),\
format(sum(P.AST*P.GP)/ T2.team_ast,3),\
format(sum(P.REB*P.GP)/T2.team_reb,3),  format(avg(P.FG_PCT),2) - T2.team_fgpct,T2.team_pts \
FROM (RegSeasonPlayer P join RegSeasonTeam T on P.TEAM = T.TEAM_NAME AND P.year = T.year) \
join (select sum(PTS*(W+L)) as team_pts,sum(AST*(W+L)) as team_ast, sum(REB*(W+L)) as team_reb,format(avg(FG_PCT),2) as team_fgpct,TEAM_NAME \
FROM RegSeasonTeam Group by TEAM_NAME) T2 on T.TEAM_NAME = T2.TEAM_NAME \
WHERE T.TEAM_NAME = '" + team + "' GROUP BY P.PLAYER ORDER BY time desc"
cursor.execute(sql)
team_player = cursor.fetchall()
# print(len(team_player))
# team_player[0]
team_player

(('Houston Rockets',
  'James Harden',
  6,
  '13,018',
  '3,621',
  '2,732',
  '0.44',
  '0.089',
  '0.117',
  '0.043',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Trevor Ariza',
  5,
  '4,871',
  '948',
  '1,978',
  '0.41',
  '0.033',
  '0.031',
  '0.031',
  -0.040000000000000036,
  146735.60052490234),
 ('Houston Rockets',
  'Chuck Hayes',
  5,
  '1,712',
  '523',
  '2,265',
  '0.49',
  '0.012',
  '0.017',
  '0.036',
  0.03999999999999998,
  146735.60052490234),
 ('Houston Rockets',
  'Luis Scola',
  5,
  '5,592',
  '725',
  '2,987',
  '0.51',
  '0.038',
  '0.023',
  '0.047',
  0.06,
  146735.60052490234),
 ('Houston Rockets',
  'Yao Ming',
  4,
  '5,523',
  '465',
  '2,845',
  '0.53',
  '0.038',
  '0.015',
  '0.045',
  0.08000000000000002,
  146735.60052490234),
 ('Houston Rockets',
  'Cuttino Mobley',
  4,
  '5,688',
  '843',
  '1,365',
  '0.43',
  '0.039',
  '0.027',
  '0.022',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Moochie Norris',
  3,
  '1,566',
  '886',
  '599',
  '0.42',
  '0.011',
  '0.029',
  '0.010',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Luther Head',
  3,
  '2,131',
  '547',
  '651',
  '0.42',
  '0.015',
  '0.018',
  '0.010',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Chase Budinger',
  3,
  '1,980',
  '289',
  '717',
  '0.44',
  '0.013',
  '0.009',
  '0.011',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Chandler Parsons',
  3,
  '3,005',
  '694',
  '1,112',
  '0.47',
  '0.020',
  '0.022',
  '0.018',
  0.019999999999999962,
  146735.60052490234),
 ('Houston Rockets',
  'Steve Francis',
  3,
  '4,604',
  '1,512',
  '1,489',
  '0.43',
  '0.031',
  '0.049',
  '0.024',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Clint Capela',
  3,
  '2,387',
  '178',
  '1,819',
  '0.63',
  '0.016',
  '0.006',
  '0.029',
  0.18,
  146735.60052490234),
 ('Houston Rockets',
  'Tracy McGrady',
  3,
  '5,177',
  '1,295',
  '1,196',
  '0.43',
  '0.035',
  '0.042',
  '0.019',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Kyle Lowry',
  2,
  '1,598',
  '780',
  '500',
  '0.43',
  '0.011',
  '0.025',
  '0.008',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Juwan Howard',
  2,
  '1,720',
  '240',
  '1,008',
  '0.46',
  '0.012',
  '0.008',
  '0.016',
  0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Aaron Brooks',
  2,
  '2,503',
  '675',
  '373',
  '0.42',
  '0.017',
  '0.022',
  '0.006',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Corey Brewer',
  2,
  '1,510',
  '283',
  '493',
  '0.41',
  '0.010',
  '0.009',
  '0.008',
  -0.040000000000000036,
  146735.60052490234),
 ('Houston Rockets',
  'Eric Gordon',
  2,
  '2,457',
  '339',
  '375',
  '0.42',
  '0.017',
  '0.011',
  '0.006',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Dwight Howard',
  2,
  '2,272',
  '227',
  '1,704',
  '0.61',
  '0.015',
  '0.007',
  '0.027',
  0.15999999999999998,
  146735.60052490234),
 ('Houston Rockets',
  'Ryan Anderson',
  2,
  '1,593',
  '124',
  '661',
  '0.42',
  '0.011',
  '0.004',
  '0.011',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Rafer Alston',
  2,
  '2,060',
  '835',
  '538',
  '0.38',
  '0.014',
  '0.027',
  '0.009',
  -0.07,
  146735.60052490234),
 ('Houston Rockets',
  'Donatas Motiejunas',
  2,
  '1,193',
  '159',
  '642',
  '0.47',
  '0.008',
  '0.005',
  '0.010',
  0.019999999999999962,
  146735.60052490234),
 ('Houston Rockets',
  'Dikembe Mutombo',
  2,
  '552',
  '23',
  '912',
  '0.53',
  '0.004',
  '0.001',
  '0.014',
  0.08000000000000002,
  146735.60052490234),
 ('Houston Rockets',
  'Shane Battier',
  2,
  '1,572',
  '324',
  '744',
  '0.44',
  '0.011',
  '0.010',
  '0.012',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Patrick Beverley',
  2,
  '1,339',
  '523',
  '644',
  '0.43',
  '0.009',
  '0.017',
  '0.010',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Kenny Thomas',
  2,
  '1,541',
  '211',
  '933',
  '0.46',
  '0.010',
  '0.007',
  '0.015',
  0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'David Wesley',
  2,
  '1,655',
  '470',
  '410',
  '0.40',
  '0.011',
  '0.015',
  '0.007',
  -0.04999999999999999,
  146735.60052490234),
 ('Houston Rockets',
  'Courtney Lee',
  2,
  '1,333',
  '184',
  '367',
  '0.44',
  '0.009',
  '0.006',
  '0.006',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Kelvin Cato',
  2,
  '823',
  '52',
  '956',
  '0.55',
  '0.006',
  '0.002',
  '0.015',
  0.10000000000000003,
  146735.60052490234),
 ('Houston Rockets',
  'Goran Dragic',
  2,
  '1,297',
  '553',
  '305',
  '0.45',
  '0.009',
  '0.018',
  '0.005',
  0.0,
  146735.60052490234),
 ('Houston Rockets',
  'Jeremy Lin',
  2,
  '1,986',
  '791',
  '431',
  '0.44',
  '0.014',
  '0.026',
  '0.007',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Jason Terry',
  2,
  '964',
  '247',
  '202',
  '0.41',
  '0.007',
  '0.008',
  '0.003',
  -0.040000000000000036,
  146735.60052490234),
 ('Houston Rockets',
  'Eddie Griffin',
  2,
  '1,305',
  '136',
  '878',
  '0.38',
  '0.009',
  '0.004',
  '0.014',
  -0.07,
  146735.60052490234),
 ('Houston Rockets',
  'Jordan Hill',
  1,
  '403',
  '29',
  '310',
  '0.49',
  '0.003',
  '0.001',
  '0.005',
  0.03999999999999998,
  146735.60052490234),
 ('Houston Rockets',
  'Greg Smith',
  1,
  '420',
  '28',
  '322',
  '0.62',
  '0.003',
  '0.001',
  '0.005',
  0.16999999999999998,
  146735.60052490234),
 ('Houston Rockets',
  'Josh Smith',
  1,
  '1,029',
  '274',
  '531',
  '0.42',
  '0.007',
  '0.009',
  '0.008',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Lou Williams',
  1,
  '1,418',
  '243',
  '202',
  '0.43',
  '0.010',
  '0.008',
  '0.003',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'James Posey',
  1,
  '896',
  '183',
  '423',
  '0.41',
  '0.006',
  '0.006',
  '0.007',
  -0.040000000000000036,
  146735.60052490234),
 ('Houston Rockets',
  'Marcus Camby',
  1,
  '289',
  '106',
  '531',
  '0.45',
  '0.002',
  '0.003',
  '0.008',
  0.0,
  146735.60052490234),
 ('Houston Rockets',
  'Thomas Robinson',
  1,
  '336',
  '49',
  '315',
  '0.43',
  '0.002',
  '0.002',
  '0.005',
  -0.020000000000000018,
  146735.60052490234),
 ('Houston Rockets',
  'Shandon Anderson',
  1,
  '713',
  '189',
  '336',
  '0.45',
  '0.005',
  '0.006',
  '0.005',
  0.0,
  146735.60052490234),
 ('Houston Rockets',
  'Keith Bogans',
  1,
  '619',
  '130',
  '252',
  '0.40',
  '0.004',
  '0.004',
  '0.004',
  -0.04999999999999999,
  146735.60052490234),
 ('Houston Rockets',
  'Jared Jeffries',
  1,
  '371',
  '98',
  '287',
  '0.44',
  '0.003',
  '0.003',
  '0.005',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Samuel Dalembert',
  1,
  '488',
  '32',
  '455',
  '0.51',
  '0.003',
  '0.001',
  '0.007',
  0.06,
  146735.60052490234),
 ('Houston Rockets',
  'Joey Dorsey',
  1,
  '186',
  '28',
  '276',
  '0.55',
  '0.001',
  '0.001',
  '0.004',
  0.10000000000000003,
  146735.60052490234),
 ('Houston Rockets',
  'Walt Williams',
  1,
  '598',
  '94',
  '245',
  '0.39',
  '0.004',
  '0.003',
  '0.004',
  -0.06,
  146735.60052490234),
 ('Houston Rockets',
  'Jim Jackson',
  1,
  '1,032',
  '224',
  '488',
  '0.42',
  '0.007',
  '0.007',
  '0.008',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Patrick Patterson',
  1,
  '493',
  '51',
  '288',
  '0.44',
  '0.003',
  '0.002',
  '0.005',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Omri Casspi',
  1,
  '490',
  '85',
  '263',
  '0.42',
  '0.003',
  '0.003',
  '0.004',
  -0.030000000000000027,
  146735.60052490234),
 ('Houston Rockets',
  'Pablo Prigioni',
  1,
  '275',
  '174',
  '121',
  '0.40',
  '0.002',
  '0.006',
  '0.002',
  -0.04999999999999999,
  146735.60052490234),
 ('Houston Rockets',
  'Montrezl Harrell',
  1,
  '528',
  '64',
  '220',
  '0.65',
  '0.004',
  '0.002',
  '0.004',
  0.2,
  146735.60052490234),
 ('Houston Rockets',
  'Maurice Taylor',
  1,
  '862',
  '105',
  '382',
  '0.48',
  '0.006',
  '0.003',
  '0.006',
  0.02999999999999997,
  146735.60052490234),
 ('Houston Rockets',
  'KJ McDaniels',
  1,
  '490',
  '74',
  '198',
  '0.40',
  '0.003',
  '0.002',
  '0.003',
  -0.04999999999999999,
  146735.60052490234),
 ('Houston Rockets',
  'Sam Dekker',
  1,
  '500',
  '77',
  '285',
  '0.47',
  '0.003',
  '0.002',
  '0.005',
  0.019999999999999962,
  146735.60052490234),
 ('Houston Rockets',
  'Kevin Martin',
  1,
  '1,880',
  '200',
  '256',
  '0.44',
  '0.013',
  '0.006',
  '0.004',
  -0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Omer Asik',
  1,
  '828',
  '74',
  '959',
  '0.54',
  '0.006',
  '0.002',
  '0.015',
  0.09000000000000002,
  146735.60052490234),
 ('Houston Rockets',
  'Jordan Hamilton',
  1,
  '402',
  '54',
  '192',
  '0.39',
  '0.003',
  '0.002',
  '0.003',
  -0.06,
  146735.60052490234),
 ('Houston Rockets',
  'Chris Paul',
  1,
  '1,079',
  '458',
  '313',
  '0.46',
  '0.007',
  '0.015',
  '0.005',
  0.010000000000000009,
  146735.60052490234),
 ('Houston Rockets',
  'Terrence Jones',
  1,
  '920',
  '84',
  '524',
  '0.54',
  '0.006',
  '0.003',
  '0.008',
  0.09000000000000002,
  146735.60052490234),
 ('Houston Rockets',
  'PJ Tucker',
  1,
  '500',
  '74',
  '459',
  '0.39',
  '0.003',
  '0.002',
  '0.007',
  -0.06,
  146735.60052490234),
 ('Houston Rockets',
  'Bobby Jackson',
  1,
  '554',
  '137',
  '180',
  '0.40',
  '0.004',
  '0.004',
  '0.003',
  -0.04999999999999999,
  146735.60052490234),
 ('Houston Rockets',
  'Nene',
  1,
  '610',
  '67',
  '281',
  '0.62',
  '0.004',
  '0.002',
  '0.004',
  0.16999999999999998,
  146735.60052490234),
 ('Houston Rockets',
  'Luc Mbah a Moute',
  1,
  '458',
  '55',
  '183',
  '0.48',
  '0.003',
  '0.002',
  '0.003',
  0.02999999999999997,
  146735.60052490234),
 ('Houston Rockets',
  'Mike James',
  1,
  '873',
  '266',
  '207',
  '0.44',
  '0.006',
  '0.009',
  '0.003',
  -0.010000000000000009,
  146735.60052490234))

In [73]:
cursor.execute("select year,PTS,W,L,TEAM_NAME FROM RegSeasonTeam where TEAM_NAME = 'Houston Rockets'")
cursor.fetchall()

((2000, 97.2, 45, 37, 'Houston Rockets'),
 (2001, 92.3, 28, 54, 'Houston Rockets'),
 (2002, 93.8, 43, 39, 'Houston Rockets'),
 (2003, 89.8, 45, 37, 'Houston Rockets'),
 (2004, 95.1, 51, 31, 'Houston Rockets'),
 (2005, 90.1, 34, 48, 'Houston Rockets'),
 (2006, 97.0, 52, 30, 'Houston Rockets'),
 (2007, 96.7, 55, 27, 'Houston Rockets'),
 (2008, 98.4, 53, 29, 'Houston Rockets'),
 (2009, 102.4, 42, 40, 'Houston Rockets'),
 (2010, 105.9, 43, 39, 'Houston Rockets'),
 (2011, 98.1, 34, 32, 'Houston Rockets'),
 (2012, 106.0, 45, 37, 'Houston Rockets'),
 (2013, 107.7, 54, 28, 'Houston Rockets'),
 (2014, 103.9, 56, 26, 'Houston Rockets'),
 (2015, 106.5, 41, 41, 'Houston Rockets'),
 (2016, 115.3, 55, 27, 'Houston Rockets'),
 (2017, 112.4, 65, 17, 'Houston Rockets'))

In [ ]:
sql = "SELECT avg(s.2018season) as salary,avg(r.Speed) as speed ,avg(r.Midrange) as midrange ,avg(r.Finishing) as finishing, \
avg(r.3Pt) as three_pt,avg(r.Dribble) as dribble,avg(r.PostScoring) as postscoring,avg(r.Rebound) as reb,avg(r.Defense) as defense \
FROM Ratings r join Salary s on r.Player = s.Player where s.Player = " +"'"+ name +"'"

In [15]:
name1 = 'James Harden'
name2 = 'Chris Paul'
name3 = 'Lebron James'
name4 = 'Ryan Anderson'
name5 = 'Kevin Durant'
sql = "SELECT s.2018season, r.Player,r.Speed,r.Midrange,r.Finishing,r.3Pt,r.Dribble,r.PostScoring,r.Rebound,r.Defense \
FROM Ratings r join Salary s on r.Player = s.Player where s.Player = " +"'"+ name1 +"'" +" or s.Player = " +"'"+ name2 +"'\
 or s.Player = " +"'"+ name3 +"'"+" or s.Player = " +"'"+ name4 +"'" +" or s.Player = " +"'"+ name5 +"'"
sql

"SELECT s.2018season, r.Player,r.Speed,r.Midrange,r.Finishing,r.3Pt,r.Dribble,r.PostScoring,r.Rebound,r.Defense FROM Ratings r join Salary s on r.Player = s.Player where s.Player = 'James Harden' or s.Player = 'Chris Paul' or s.Player = 'Lebron James' or s.Player = 'Ryan Anderson' or s.Player = 'Kevin Durant'"

In [19]:
cursor.execute(sql)
cursor.fetchall()

((35654150, 'Chris Paul', 84.0, 75.0, 79.0, 76.0, 85.0, 66.0, 68.0, 85.0),
 (30570000, 'James Harden', 82.0, 85.0, 90.0, 77.0, 85.0, 66.0, 76.0, 72.0),
 (30000000, 'Kevin Durant', 80.0, 86.0, 91.0, 81.0, 82.0, 74.0, 80.0, 74.0),
 (35654150, 'Lebron James', 87.0, 80.0, 95.0, 78.0, 82.0, 84.0, 80.0, 83.0),
 (20421546, 'Ryan Anderson', 73.0, 75.0, 73.0, 81.0, 63.0, 75.0, 71.0, 72.0))

In [6]:
cursor.close()
db.close()